Workflow 1 - Daily Prayer Times.json
{
  "name": "Workflow 1 - Daily Prayer Times",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "id": "5374042c-806e-4a51-9fd1-ccabea48c263",
      "name": "Every Day 12:01 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        -240
      ]
    },
    {
      "parameters": {
        "url": "https://api.aladhan.com/v1/timingsByCity/{{$now.format('DD-MM-YYYY')}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "city",
              "value": "Kurnool"
            },
            {
              "name": "country",
              "value": "IN"
            },
            {
              "name": "method",
              "value": "1"
            },
            {
              "name": "school",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "d0439aa7-bf2f-4797-8d61-f2bc6d31d9b8",
      "name": "Fetch Prayer Times (Aladhan)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "const timings = $input.first().json.data.timings;\n\nif (!timings) {\n  throw new Error('No timings found in API response');\n}\n\n// Clean times — remove seconds (HH:MM only)\nconst clean = (t) => t ? t.slice(0, 5) : null;\n\nreturn [{\n  json: {\n    fajr:    clean(timings.Fajr),\n    dhuhr:   clean(timings.Dhuhr),\n    asr:     clean(timings.Asr),\n    maghrib: clean(timings.Maghrib),\n    isha:    clean(timings.Isha),\n    updated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "11fc3bcc-af14-4b2a-b8ee-7330ff1e35ec",
      "name": "Parse & Clean Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "settings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "1"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fajr",
              "fieldValue": "={{ $json.fajr }}"
            },
            {
              "fieldId": "dhuhr",
              "fieldValue": "={{ $json.dhuhr }}"
            },
            {
              "fieldId": "asr",
              "fieldValue": "={{ $json.asr }}"
            },
            {
              "fieldId": "maghrib",
              "fieldValue": "={{ $json.maghrib }}"
            },
            {
              "fieldId": "isha",
              "fieldValue": "={{ $json.isha }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $json.updated_at }}"
            }
          ]
        }
      },
      "id": "a8cae06f-83ad-47d2-bb01-2ced7245be4c",
      "name": "Save to Supabase Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "BNjpasRERNMm9nQH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const times = $('Parse & Clean Times').first().json;\nconsole.log('✅ Prayer times saved for today:');\nconsole.log(`Fajr: ${times.fajr} | Dhuhr: ${times.dhuhr} | Asr: ${times.asr} | Maghrib: ${times.maghrib} | Isha: ${times.isha}`);\nreturn $input.all();"
      },
      "id": "7950a232-c1e5-4985-8785-08b991907c96",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day 12:01 AM": {
      "main": [
        [
          {
            "node": "Fetch Prayer Times (Aladhan)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prayer Times (Aladhan)": {
      "main": [
        [
          {
            "node": "Parse & Clean Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Clean Times": {
      "main": [
        [
          {
            "node": "Save to Supabase Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase Settings": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14e8b8bf-bc7b-40b0-a0e6-54bcdb4aaf5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8d3cceaac243b93f5363847df7576763ce1efd66426c1aa0c1e42e002bf945e"
  },
  "id": "aksg2WzYquCe0x1f",
  "tags": []
}